.header {
    padding: 30px;
    background-color: #004175;
    border-bottom: 0ch;
}

.row {
    display: flex;
}

.dogs {
    width: 33%;
    border: 2px solid blue
}

.picture img {
    width: 100%;
}

.traits li {
    background-color: #89DEEF;
    padding: 0%;
    list-style: none;
    display: inline-block;
    border-radius: 1rem;
}

span {
    font-family: Oswald;
    font-size: 1.3rem;
    margin: .5rem;
}